@import url("../../../styles/global.css");

.item{
    flex-direction: column;
    align-items: flex-start !important;
}

.align-right{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}