.contain{

  width: 92%;
  margin: 10rem auto;
  max-width: 50rem;
}

@media only screen and (max-width: 500px) {
  .contain{
      margin: 3rem auto;
      max-width: 40rem;
      width: 100%;
      
  }
}





